body {
    background-image: url(crime2.jpeg);
    background-position: center; 
    background-size: cover;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: white;
}

.caption :hover{
   box-shadow: 0 0 20px 0px rgba(0, 0, 0.2); 
}
